{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-xl-7">
      <div class="card">
        <h3 class="card-header">{{ 'Tipos de envío'|trans({}, 'Modules.RjMulticarrier.Admin') }}</h3>
        <div class="card-body">
          {% if companies|length > 1 %}
            <form method="get" action="{{ path('admin_rj_multicarrier_type_shipment_index') }}" class="form-inline mb-3">
              <div class="form-group mr-2">
                <label for="type_shipment_company_filter" class="mr-2">{{ 'Compañía'|trans({}, 'Modules.RjMulticarrier.Admin') }}</label>
                <select id="type_shipment_company_filter" name="company" class="form-control" onchange="this.form.submit()">
                  {% for company in companies %}
                    <option value="{{ company.id }}" {% if company.selected %}selected{% endif %}>{{ company.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </form>
          {% endif %}

          {% include '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with { grid: typeShipmentGrid } %}
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="card">
        <h3 class="card-header">
          {% if editingTypeShipment %}
            {{ 'Editar tipo de envío'|trans({}, 'Modules.RjMulticarrier.Admin') }}
          {% else %}
            {{ 'Nuevo tipo de envío'|trans({}, 'Modules.RjMulticarrier.Admin') }}
          {% endif %}
        </h3>
        <div class="card-body">
          {% set actionParams = { company: currentCompanyId } %}
          {% if editingTypeShipment %}
            {% set actionParams = actionParams|merge({ id: editingTypeShipment.id }) %}
          {% endif %}

          {{ form_start(form, {
            action: path('admin_rj_multicarrier_type_shipment_index', actionParams),
            attr: { novalidate: 'novalidate' }
          }) }}
              {{ form_errors(form) }}
            {{ form_row(form.company_id) }}
            {{ form_row(form.name) }}
            {{ form_row(form.business_code) }}
            {{ form_row(form.reference_carrier_id) }}
            {{ form_row(form.active) }}
            {{ form_widget(form.id) }}
            <div class="mt-3">
              {{ form_row(form.save) }}
            </div>
          {{ form_end(form, { render_rest: false }) }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
