{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="row">
    <div class="col-xl-7">
      <div class="card">
        <h3 class="card-header">{{ 'Datos del remitente'|trans({}, 'Modules.RjMulticarrier.Admin') }}</h3>
        <div class="card-body">
          {{ form_start(infoShopForm) }}
            {{ form_errors(infoShopForm) }}

            <div class="row">
              <div class="col-md-6">
                {{ form_row(infoShopForm.firstname) }}
              </div>
              <div class="col-md-6">
                {{ form_row(infoShopForm.lastname) }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                {{ form_row(infoShopForm.company) }}
              </div>
              <div class="col-md-6">
                {{ form_row(infoShopForm.additionalname) }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                {{ form_row(infoShopForm.email) }}
              </div>
              <div class="col-md-6">
                {{ form_row(infoShopForm.phone) }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                {{ form_row(infoShopForm.vatnumber) }}
              </div>
              <div class="col-md-6">
                {{ form_row(infoShopForm.isbusiness) }}
              </div>
            </div>

            <hr>
            <div class="row">
              <div class="col-md-6">
                {{ form_row(infoShopForm.street) }}
              </div>
              <div class="col-md-3">
                {{ form_row(infoShopForm.number) }}
              </div>
              <div class="col-md-3">
                {{ form_row(infoShopForm.postcode) }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                {{ form_row(infoShopForm.city) }}
              </div>
              <div class="col-md-6">
                {{ form_row(infoShopForm.state) }}
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                {{ form_row(infoShopForm.id_country) }}
              </div>
              <div class="col-md-6">
                {{ form_row(infoShopForm.additionaladdress) }}
              </div>
            </div>

            {{ form_widget(infoShopForm.id_infoshop) }}

            <div class="mt-3">
              <button type="submit" class="btn btn-primary">
                {{ 'Guardar remitente'|trans({}, 'Modules.RjMulticarrier.Admin') }}
              </button>
            </div>
          {{ form_end(infoShopForm, { render_rest: false }) }}
        </div>
      </div>
    </div>

    <div class="col-xl-5">
      <div class="card">
        <h3 class="card-header">{{ 'Configuración extra'|trans({}, 'Modules.RjMulticarrier.Admin') }}</h3>
        <div class="card-body">
          {{ form_start(extraConfigForm) }}
            {{ form_errors(extraConfigForm) }}

            {{ form_row(extraConfigForm.RJ_ETIQUETA_TRANSP_PREFIX) }}
            {{ form_row(extraConfigForm.RJ_MODULE_CONTRAREEMBOLSO) }}

            <div class="mt-3">
              <button type="submit" class="btn btn-outline-primary">
                {{ 'Guardar configuración extra'|trans({}, 'Modules.RjMulticarrier.Admin') }}
              </button>
            </div>
          {{ form_end(extraConfigForm) }}

          <hr>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="text-muted">{{ '¿Necesitas relacionar transportistas?'|trans({}, 'Modules.RjMulticarrier.Admin') }}</span>
            <a class="btn btn-link" href="{{ path('admin_rj_multicarrier_type_shipment_index') }}">
              {{ 'Gestionar tipos de envío'|trans({}, 'Modules.RjMulticarrier.Admin') }}
            </a>
          </div>
          <div class="d-flex justify-content-between align-items-center mb-2">
            <span class="text-muted">{{ '¿Quieres revisar los envíos generados?'|trans({}, 'Modules.RjMulticarrier.Admin') }}</span>
            <a class="btn btn-link" href="{{ path('admin_rj_multicarrier_shipments_index') }}">
              {{ 'Ver envíos'|trans({}, 'Modules.RjMulticarrier.Admin') }}
            </a>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <span class="text-muted">{{ '¿Listar paquetes pendientes de generar?'|trans({}, 'Modules.RjMulticarrier.Admin') }}</span>
            <a class="btn btn-link" href="{{ path('admin_rj_multicarrier_info_packages_index') }}">
              {{ 'Generar envíos'|trans({}, 'Modules.RjMulticarrier.Admin') }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
