{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ action == 'create' ? 'Nuevo remitente'|trans({}, 'Modules.RjMulticarrier.Admin') : 'Editar remitente'|trans({}, 'Modules.RjMulticarrier.Admin') }}</h3>

      {{ form_start(form) }}
        {{ form_errors(form) }}

        <div class="row">
          <div class="col-md-6">{{ form_row(form.firstname) }}</div>
          <div class="col-md-6">{{ form_row(form.lastname) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(form.company) }}</div>
          <div class="col-md-6">{{ form_row(form.additionalname) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(form.email) }}</div>
          <div class="col-md-6">{{ form_row(form.phone) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(form.vatnumber) }}</div>
          <div class="col-md-6">{{ form_row(form.isbusiness) }}</div>
        </div>

        <hr />

        <div class="row">
          <div class="col-md-6">{{ form_row(form.street) }}</div>
          <div class="col-md-3">{{ form_row(form.number) }}</div>
          <div class="col-md-3">{{ form_row(form.postcode) }}</div>
        </div>
        <div class="row">
          <div class="col-md-6">{{ form_row(form.city) }}</div>
          <div class="col-md-6">{{ form_row(form.state) }}</div>
        </div>
        {{ form_row(form.id_country) }}
        {{ form_row(form.additionaladdress) }}

        {% if form.shop_association is defined %}
          <hr />
          {{ form_row(form.shop_association) }}
        {% endif %}

        <div class="mt-3 d-flex justify-content-between">
          <div>
            <a class="btn btn-outline-secondary" href="{{ path('admin_rj_multicarrier_info_shop_index') }}">
              {{ 'Volver'|trans({}, 'Admin.Actions') }}
            </a>
          </div>
          <button type="submit" class="btn btn-primary">
            {{ 'Guardar'|trans({}, 'Admin.Actions') }}
          </button>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
{% endblock %}
