{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {% embed '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with { grid: infoShopGrid } %}
    {% block grid_panel_header %}
      <div class="card-header js-grid-header d-flex align-items-center justify-content-between">
        <h3 class="card-header-title mb-0">{{ 'Remitentes (InfoShop)'|trans({}, 'Modules.RjMulticarrier.Admin') }}</h3>
        <div class="d-flex gap-2">
          <a class="btn btn-outline-secondary btn-sm" href="{{ extraConfigUrl }}">{{ 'Configuración adicional'|trans({}, 'Modules.RjMulticarrier.Admin') }}</a>
          <a class="btn btn-primary btn-sm" href="{{ createUrl }}">{{ 'Nuevo remitente'|trans({}, 'Modules.RjMulticarrier.Admin') }}</a>
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
