{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  {% embed '@PrestaShop/Admin/Common/Grid/grid_panel.html.twig' with { grid: ConfigurationGrid } %}
    {% block grid_panel_header %}
      <div class="card-header js-grid-header d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h3 class="card-header-title mb-0">{{ 'Remitentes (Configuration)'|trans({}, 'Modules.RjMulticarrier.Admin') }}</h3>
          <span class="badge badge-secondary ml-2">{{ grid.data.records_total }}</span>
        </div>
        <div class="d-flex align-items-center gap-2">
          <a class="btn btn-primary btn-sm" href="{{ createUrl }}">{{ 'Nuevo remitente'|trans({}, 'Modules.RjMulticarrier.Admin') }}</a>
          {{ include('@PrestaShop/Admin/Common/Grid/Blocks/grid_actions.html.twig', { grid: grid }) }}
        </div>
      </div>
    {% endblock %}
  {% endembed %}
{% endblock %}
